main{
    /* background: url(images/museum-svgrepo-com.svg ) no-repeat center center ; */
    height: 98vh;
    align-items: center;
    position: relative;
}

.formcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;

}
.formcontainer div{
   border-radius: 10px;
   padding: 10px;


}
.genderselector{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
}
.space{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    background-color: #dbcaca66;
    text-align: center;
    font-size: 1.2rem;
}
#submit{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    background-color: #dbcaca66;
    text-align: center;
    font-size: 1.2rem;
    margin: auto;
    display: block;
    background-color: chartreuse;


}
.sechead{
    font-family: "SUSE", sans-serif;
    text-align: center;
    font-size:2rem;
}
.middle{
    font-size: 3rem;
    font-family: "SUSE", sans-serif;
    font-weight: bold;
    text-align: center;
    color: coral;
}




#second {
    width: 50vw;
    height: 60vh;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    display: none;
    margin-top: 100px;background-color:#d7ded547;


}
#second:hover{
    transition: 01s ease-in-out;
    transform: scale(1.1);
}

.finalpreview {
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: 10px 50px; */
    margin: 10px 0;
}

.pic img {
    height: 60px;


}
.pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.target {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 200px;
    font-size: 1.1rem;

}
.target button{
    margin: 15px;
    height: 30px;
    width: 90px;
    font-size: 1.1rem;
    padding: 3px;
    border-radius: 10px;
    background-color: chartreuse;
}
#edit:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
#buy:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
.left{
    display: flex;
    flex-direction:column;
}
#ticketid{
    font-size: 1.2rem;
}

.middle1{
    font-size: 1.5rem;
    font-family: "SUSE", sans-serif;
    font-weight: bold;
    text-align: center;
}
body p{
    font-family: "SUSE", sans-serif;
}
/* main::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/pexels-pixabay-63332.jpg);
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
} */